PORT=8000
MONGO_URI=mongodb://127.0.0.1:27017/ems
JWT_SECRET=change-this-to-a-long-random-string
CLIENT_URI=http://localhost:5173
NODE_ENV=development

ADMIN_USERNAME=admin
ADMIN_PASSWORD=
ADMIN_EMAIL=admin@example.com
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=User
ADMIN_PHONE=9999999999
